{% load i18n basic_tags %}

<div class="invoice">
    <div class="invoice-header">
        <ul class="company-info">
            <li class="company-name">{{ company.name }}</li>
            {% if company.inet_contacts %}
                <li>{{ company.inet_contacts }}</li>
            {% endif %}
            {% if company.address %}
                <li>{{ company.address }}</li>
            {% endif %}
            {% if company.contacts %}
                <li>{{ company.contacts }}</li>
            {% endif %}
            {% if company.vat_number %}
                <li>{% trans "VAT number" %}: {{ company.vat_number }}</li>
            {% endif %}
        </ul>
    </div>
    <hr />
    <div class="invoice-customer">
        {% trans "Invoice n." %} <strong>{{ invoice.real_id }}</strong> 
        {% trans "of" %} <strong>{{ invoice.date|date:"d M Y" }}</strong>
        <ul style="list-style-type:none;">
            <li>{{ invoice.customer.name }}</li>
            <li>{{ invoice.customer.address }}</li>
            <li>{{ invoice.customer.zipcode }} {{ invoice.customer.city }} {% if invoice.customer.state %}({{invoice.customer.state}}){% endif %}</li>
            {% if invoice.customer.ssn %}
                <li>{% trans "Social Security Number" %}: {{ invoice.customer.ssn }}</li>
            {% endif %}
            {% if invoice.customer.vat %}
                <li>{% trans "VAT number" %}: {{ invoice.customer.vat }}</li>
            {% endif %}
        </ul>
    </div>
    <table border="1" cellpadding="3" class="invoice-body">
        <tr>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Amount' %}</th>
        </tr>
            {% for entry in invoice.entries.all %}
            <tr class="invoice-entry">
              <td>{{ entry.description }}</td>
              <td class="price">&#8364; {{ entry.amount|floatformat:2 }}</td>
            </tr>
            {% endfor %}

        {% if invoice.discount %}
        <tr class="invoice-entry no-bb">
            <td>{% trans "Total amount" %}</td>
            <td class="price">&#8364; {{ invoice.pre_amount|floatformat:2 }}</td>
        </tr>
        <tr class="invoice-entry">
            <td>{% trans "Discount" %}</div>
            <td class="price">{{ invoice.discount|percent }}</div>
        </tr>
        {% endif %}

        <tr class="invoice-entry no-bb">
            <td>{% trans "Total amount" %}</td>
            <td class="price">&#8364; {{ invoice.amount|floatformat:2 }}</td>
        </tr>
        <tr class="invoice-entry no-bb">
            <td>{% trans "VAT" %} {{ company.vat_amount }}%</div>
            <td class="price">&#8364; {{ invoice.vat_amount|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>{% trans "Total to pay" %}</td>
            <td class="price"><strong>&#8364; {{ invoice.tot_to_pay|floatformat:2 }}</strong></td>
        </tr>
    </table>
    <p>Pagamento con: bonifico</p>
    <div style="white-space: nowrap; font-size:small;">
        {% trans "Money transfer can be done on IBAN" %}: {{ company.iban }}
    </div>
</div>

