<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <title>Inserimento pagamenti multipli</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <style>
      label {
        margin: 10px !important;
      }
      body {
        padding: 10px;
      }
      .payment {
        margin: 10px;
        border: 1px solid #CFCFCF;
      }
      .error {
        border-color: red !important;
      }
      h1 { margin-top: 0px; }
      #error-message, #float-message {
        color: red;
        font-weight: bold;
        margin-left: 10px;
      }
    </style>
  </head>
  <body class="pure-form">
    <h1>Inserimento di pagamenti multipli</h1>
    <h2>Scegli il servizio di cui vuoi inserire i pagamenti e poi aggiungi le singole entrate.</h2>
    <label>Servizio</label>
    <select id="service">
      <option selected="selected">- scegli -</option>
      {% for service in services %}
      <option value="{{ service.id }}">{{ service.name }}</option>
      {% endfor %}
    </select>

    <div id="model" style="display: none;" class="model">
        <label id="c_label">Cliente</label>
        <select class="customer">
          <option>- scegli -</option>
        </select>
        <label>Costo</label><input class="text cost" type="text">
        <label>Pagato fino al:</label>
        <select class="date" style="width:170px;">
          <option>01/01/2010</option>
          <option>01/01/2011</option>
          <option>01/01/2012</option>
          <option>01/01/2013</option>
          <option>01/01/2014</option>
          <option>01/01/2015</option>
          <option>01/01/2016</option>
          <option>01/01/2017</option>
          <option>01/01/2018</option>
          <option>01/01/2019</option>
          <option>01/01/2020</option>
          <option>01/01/2021</option>
          <option>01/01/2022</option>
          <option>01/01/2023</option>
          <option>01/01/2024</option>
          <option>01/01/2025</option>
          <option>01/01/2026</option>
          <option>01/01/2027</option>
          <option>01/01/2028</option>
          <option>01/01/2029</option>
          <option>01/01/2030</option>
          <option>01/01/2031</option>
          <option>01/01/2032</option>
          <option>01/01/2033</option>
          <option>01/01/2034</option>
          <option>01/01/2035</option>
        </select>
        <label>Note</label><input class="text notes" type="text" style="width:200px;">
    </div>  

    <div id="container">
    </div>
    <div id="buttons" style="display: none;">
      <button class="pure-button" onclick="newRow();">Aggiungi pagamento</button>
      <!-- <button class="pure-button" onclick="delRow();">Rimuovi pagamento</button> -->
    </div>
    <button id="send" class="pure-button" onclick="send();" style="margin-top: 10px; display: none;">Invia</button>
    <span id="error-message" style="display: none;">Devi compilare i campi in rosso.</span>
    <span id="float-message" style="display: none;">Il costo deve essere un decimale.</span>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>

    nrows = 0;

    function isFloat(n) {
      return n === +n && n !== (n|0);
    }
    
    function isInteger(n) {
      return n === +n && n === (n|0);
    }

    function newRow() {
      nrows = nrows + 1;
      var el = $('#model').clone();
      el.attr('class', 'payment');
      el.appendTo('#container');
      el.css('display', '');
      el.children('span').text(nrows+'.');
    }

    function delRow() {
      nrows = nrows - 1;
      $('#container div:last-child').remove(); 
    }

    function send() {

      $('.error').removeClass('error');
      errors = false;
      nofloat = false;
      $('#error-message').hide();
      $('#float-message').hide();

      // form validation
      $('.payment').each(function(i, f){

        var cost = $(this).children('.cost').val();
        if(!(parseFloat(cost) > 0)) {
          $(this).children('.cost').addClass('error');
          nofloat = true;
        }

        // If there is not a Customer, Subscriptio has been chosen
        if($(this).children('.customer').length == 0){
            if($(this).children('.customer').val() == '- scegli -') {
              $(this).children('.customer').addClass('error');  
              errors = true;
            }
        }
        if(!$(this).children('.cost').val()) {
          $(this).children('.cost').addClass('error');  
          errors = true;
        } 
      });

      if(nofloat){
        $('#float-message').show();
        return;
      }
        
      if(errors){
        $('#error-message').show();
        return;
      }
        
      data = {
        'service_id': $('#service').val(),
        'payments': []
      }; 
      $('.payment').each(
        function(i, p) {
            // If there is not a Customer, Subscriptio has been chosen
            if($(this).children('.customer').length > 0){
              data['payments'].push({
                'customer': $(this).children('.customer').val(),
                'cost': $(this).children('.cost').val(),
                'paid_for': $(this).children('.date').val(),
                'notes': $(this).children('.notes').val()
              });
            } else {
              data['payments'].push({
                'subscription': $(this).children('.subscription').val(),
                'cost': $(this).children('.cost').val(),
                'paid_for': $(this).children('.date').val(),
                'notes': $(this).children('.notes').val()
              });

            }
        }
      );
      $.post(
          '/api/bulk-payments/',
          data,
          function(result) {
            $('body').empty();
            $('body').append('<h1>Pagamenti inseriti con successo!</h1><p><a href="/">Torna al pannello di controllo.</a></p>');
          }
      )
      .fail(function(xhr, textStatus, errorThrown) {
        var json = jQuery.parseJSON(xhr.responseText);
        if (json.status === 'ERROR'){
            $("p").remove();
            var message = "<p><font color=\"red\">" + json.message + "</font></p>";
            $(message).insertAfter("h2")
            if(json.hasOwnProperty("sub_list")){
                $('.payment').each(function(i, f){

                  var cost = +($(this).children('.cost').val().replace(/,/,'.'));
                  var customer_id = $(this).children('.customer').val();
                  var jcost = +(json.cost.replace(/,/,'.'));
                  if(cost === jcost && customer_id === json.customer) {
                    $(this).children('#c_label').remove();
                    $(this).children('.customer').remove();
                    var sub_list = "<label>Sottoscrizione:</label><select class=\"subscription\" style=\"width:270px;\">" + json.sub_list + "</select>" 
                    $(this).append(sub_list);
                  } 
                });
            }
        }
      });
    }

    $(document).ready(function(){

      // trigger when a service is selected
      $('#service').change(function(e) {
        for(var i = 0; i < 1;  i++)
          newRow();
        // get id of the selected service
        service_id = e.target.value;
        // ask the server for the customers
        $.get(
          '/api/get-customers/'+service_id+'/',
          function(data) {
            // recreate the options, filtered by customer
            $.each(data, function(i, s) {
              if(i != 'amount') {
                $('#model .customer').append(
                  $('<option>').text(s.customer_name).val(s.customer_id)
                );
                $('#model .cost').val(data.amount);
              }
            });
            // make service readonly
            $('#service').attr('disabled', 'disabled');
            // show first form
            newRow();
            $('#buttons, .pure-button').show();
          }
        );
      });
    });
    </script>
  </body>
</html>
