
.right { text-align : right; }

.company-info {
    list-style-type:none; 
    text-align: right;
}

.company-name {
    background-color : red;
    margin-left : 200px;
}

.invoice {
    width : 500px;
}

.invoice-header {

}

.invoice-body {
    border-collapse: collapse;
    margin : 1.5em auto;
    width : 80%;
}

.invoice-body td {
    padding-top : 1em;
}

.invoice-entry {
}


.invoice-payment-info {
    list-style-type:none; 
}

