
.right { text-align : right; }

.company-info {
    list-style-type:none; 
    text-align: right;
}

.company-name {
    background-color : #999933;
    margin-left : 200px;
}

.invoice {
    width : 500px;
    border: 1px solid grey;
    padding: 1em;
    margin : 2em auto;
}

.invoice-header {
    background-image:url(/static/logo.jpg);
    background-position:left center;
    background-repeat:no-repeat;
}

.invoice-body {
    border-collapse: collapse;
    margin : 1.5em auto;
    width : 95%;
}

.invoice-body tr {
    padding-top : 1em;
}

.invoice-entry {
  border-bottom: 1px solid lightgrey;
  font-size: 0.9em;
  vertical-align: bottom;
}

.price { text-align : right; white-space:nowrap;}


.invoice-payment-info {
    list-style-type:none; 
}

.no-bb { border-bottom: 0px solid lightgrey; }
